@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* header section start */
#header {
  padding-top: 64px;
  background-color: #525252;
}
#header .navbar {
  width: 100%;
  padding: 6px 0px 4px 15px;
  opacity: 0.8;
  background-color: #525252;
}
#header .navbar .tab-view {
  margin-right: 0px;
  margin-left: auto;
}
#header .navbar .navbar-brand {
  width: 73px;
  height: 54px;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
#header .navbar .navbar-nav .nav-item {
  margin-right: 15px;
}
#header .navbar .nav-item .nav-link {
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}
#header .navbar .navbar-nav .book-now .nav-link {
  width: 111px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #29626d;
}
#header .navbar .prices .nav-link {
  width: 161px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
}
#header .navbar .login .nav-link {
  width: 83px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #29626d;
}
#header .navbar .navbar-nav .helper .nav-link {
  width: 161px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #29626d;
}
#header .mobile-view {
  display: none;
  margin-left: 80%;
}
#header .mobile-view .btn i{
  color:#fff;
  font-size: 35px;
}
#header .mobile-view .nav-item {
  padding: 10px 0px 0px 0px;
  list-style-type: none;
}
#header .mobile-view .nav-link {
  color: #4f4f4f !important;
  padding: 0px !important;
  text-align: left !important;
}
.offcanvas {
  width: 50% !important;
  overflow-y: auto;
}
#header .mobile-view .icon-social {
  text-align: center;
}
#header .mobile-view .icon-social i {
  font-size: 25px;
  margin-left: 10px;
}
/* header section end */
/* contact image section start  */
#contact-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* contact image section end  */
/* contact us section start */
#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact-us .title {
  margin-top: 39px;
  height: 27px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
#contact-us .star {
  display: flex;
}
#contact-us .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0px 54px auto;
  background-color: #ccc;
}
#contact-us .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 42px;
  color: #1d7a8c;
}
#contact-us .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 54px 0px;
  background-color: #ccc;
}
#contact-us .contact-method {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
#contact-us .contact-method .card-contact:nth-child(2) {
  margin-right: 203px;
  margin-left: 205px;
}
#contact-us .contact-method .location img {
  width: 34px;
  height: 54px;
  object-fit: contain;
  color: #1d7a8c;
  margin-bottom: 23px;
}
#contact-us .contact-method .call img {
  width: 46px;
  height: 52px;
  margin-bottom: 22px;
  object-fit: contain;
  color: #1d7a8c;
}
#contact-us .contact-method .message img {
  width: 61px;
  height: 37px;
  margin-bottom: 30px;
  object-fit: contain;
  color: #1d7a8c;
}
#contact-us .contact-method .text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
/* contact us section end */
.hr {
  height: 1px;
  margin: 76px 13.5% 80px;
  background-color: #e1e1e1;
}
/* touch with us section start */
#touch .touch-head {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
#touch .contact-form {
  display: flex;
  justify-content: center;
  text-align: center;
}
#touch .contact-form .personal-detail input,
#touch .contact-form .subject select,
#touch .contact-form .message textarea {
  border: 1px solid #c8c8c8;
  padding-left: 16px;
}
#touch .contact-form .personal-detail > input {
  width: 299px;
  height: 46px;
  margin-bottom: 15px;
}
#touch .contact-form .personal-detail > input:nth-child(2) {
  margin-left: 14px;
}
#touch .contact-form .personal-detail .n_e {
  display: inline-flex;
  margin-bottom: 15px;
  font-family: Roboto;
  font-size: 16px;
  color: #4f4f4f;
}
#touch .contact-form .personal-detail .n_e .mobile {
  width: 299px;
  height: 46px;
  margin-right: 17px;
}
#touch .contact-form .personal-detail .n_e .mobile input {
  width: 100%;
}
#touch .contact-form .personal-detail .n_e > input {
  width: 299px;
  height: 46px;
}
#touch .contact-form .subject select,
#touch .contact-form .message textarea {
  width: 614px;
  margin-bottom: 15px;
}
#touch .contact-form .message textarea {
  height: 146px;
}
#touch .contact-form .subject select {
  height: 46px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
}
#touch .contact-form ::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
}
#touch .contact-form .submit {
  width: 163px;
  height: 46px;
  margin-bottom: 80px;
  border-radius: 23px;
  background-color: #1d7a8c;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
}
/* touch with us section end */
/* map image secton start */
#map-img {
  position: relative;
}
#map-img .pin {
  position: absolute;
  left: 45.4%;
  top: 45.5%;
  width: 3.1%;
  height: 16.8%;
}
/* map image section end */
/*Newsletter section start*/
#news-letter .container-fluid .news-letter-title {
  height: 13px;
  font-family: Roboto;
  margin-top: 47px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #353548;
}
#news-letter .container-fluid .email-get {
  display: flex;
  justify-content: center;
}
#news-letter .container-fluid .news-email {
  width: 233px;
  height: 40px;
  margin: 20px 11px 53px 56px;
  padding-left: 25px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
#news-letter .container-fluid .news-email::placeholder {
  text-transform: uppercase;
}

#news-letter .container-fluid .news-button {
  width: 88px;
  height: 40px;
  margin: 20px 56px 53px 11px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  background-color: #ff7b6d;
}
#news-letter .container-fluid .news-button .button-text {
  width: 44px;
  height: 11px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/*Newsletter section end*/
/*footer section start*/
.footer {
  height: 16.9%;
  width: 100%;
  background-color: #111111;
  padding: 27px 120px 22px;
}
.footer .footer_head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
}
.footer .footer_head .logo img {
  width: 106px;
  height: 78px;
}
.footer .menu_footer {
  margin-top: 27px;
  margin-left: auto;
}
.footer .menu_footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.footer .menu_footer .link {
  color: #f1f1f1;
  text-decoration: none;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 14px;
}
.footer .footer_head .social_footer {
  margin-left: auto;
  margin-right: 0px;
}
.footer .footer_head .social_footer img {
  margin-left: 20px;
  margin-top: 38px;
}
.footer .hr {
  margin: 0px !important;
  height: 1px;
  background-color: #424242 !important;
}
.footer .copyright {
  color: #737381;
  text-align: center;
  margin-top: 27px;
  font-family: Roboto;
}
/*footer section end*/
