@media (max-width: 1200px) {
  /* home page media query  */
  #home #header {
    height: auto;
  }
  #home #header .navbar-nav .nav-item,
  #about #header .navbar-nav .nav-item,
  #FAQ #header .navbar .navbar-nav .nav-item,
  #price #header .navbar .navbar-nav .nav-item,
  #contact #header .navbar .navbar-nav .nav-item,
  #service-pro #header .navbar-nav .nav-item {
    margin-right: 5px;
  }
  #home #header .text {
    margin-top: 50px;
  }
  #home #header .step .step-1 {
    width: 15%;
  }
  #home #header .navbar-nav .book-now {
    width: 138px;
  }
  #home #header .navbar-nav .login {
    width: 80px;
  }
  #home #header .navbar-nav .helper {
    width: 150px;
  }
  #home #header .step {
    margin-top: 100px;
  }
  #home #why-helperland .cards .card-1 {
    width: 200px;
  }
  #home #why-helperland .cards .card-1 img {
    height: 200px;
  }
  #home #why-helperland .cards .card-1:nth-child(2) .card_head {
    margin-top: 60px;
  }
  #home #why-helperland .cards .card-1:nth-child(2) .card_desc {
    margin: 63px 3% 0px 3%;
  }
  #home #img-section img {
    width: 30%;
    height: 30%;
    margin-left: 5%;
    margin-top: 10%;
  }
  #home #img-section .section_head {
    width: 300px;
  }
  #home #img-section .section_desc {
    width: 430px;
  }
  #home #our_blog .cards .card-1 {
    width: 25%;
    height: auto;
  }
  #home #our_blog .cards .card-1 .card_img {
    width: 100%;
    height: auto;
  }
  #home #our_blog .cards .card-1 .card_head {
    width: 80%;
  }
  #home #our_blog .cards .card-1 .card_desc {
    width: 80%;
  }
  #home #our_blog .cards .card-1:nth-child(2) {
    margin: 0px 3% 0px 3%;
  }
  #home #customer_say .cards .card-1 {
    width: 25%;
    height: auto;
    padding: 43px 20px 10px 5px;
  }
  #home #customer_say .cards .card-1 .customer_details .c_name {
    margin: 17px 0px 0px 2px;
  }
  #home #customer_say .cards .card-1:nth-child(2) {
    margin: 0px 3% 0px 3%;
  }
  /* home page media query  */
  #price #cleaning .cleaning-card {
    width: 30%;
  }
  #price #why .why-text .left-text,
  #price #why .why-text .right-text {
    width: 30%;
  }
  #price #why .why-text .top-head {
    width: 100%;
  }
  #price #why .why-text .top-desc {
    width: 100%;
    margin-left: 0px;
  }
  #price #why .why-text img {
    margin: 0px;
    width: 30%;
  }
  #price #services div.card-price {
    margin-right: 10%;
  }
  #price #services div.card-price:nth-child(5) {
    margin-right: 0px;
  }
  #upcomingP #list {
    width: 200px;
    margin-right: 10px;
  }
  #upcomingP #list .list-group-item {
    font-size: 14px;
  }
  #upcomingP #dashboard {
    width: 750px;
  }
  #serviceH .table_page,
  .table_page .service_head,
  #service_history .table {
    width: 750px;
    margin-left: 0px;
  }
  #serviceH #list {
    width: 200px;
    margin-right: 10px;
  }
}
@media (max-width: 1000px) {
  .footer .footer_head {
    display: block;
  }
  .footer .footer_head .logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .footer .menu_footer ul {
    display: block;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  .footer .menu_footer ul .link {
    margin-left: 0px;
  }
  .footer .footer_head .social_footer {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 990px) {
  #home #header .tab-view,
  #about #header .tab-view,
  #FAQ #header .tab-view,
  #price #header .tab-view,
  #contact #header .tab-view,
  #service-pro #header .tab-view,
  #upcomingP .tab-navbar,
  #upcomingP #list,
  #serviceH .tab-navbar,
  #serviceH #list {
    display: none;
  }
  #home #header .mobile-view,
  #about #header .mobile-view,
  #FAQ #header .mobile-view,
  #price #header .mobile-view,
  #contact #header .mobile-view,
  #service-pro #header .mobile-view {
    display: block;
  }
  #upcomingP .mobile-view,
  #serviceH .mobile-view {
    display: inline;
  }
  #upcomingP .mobile-card,
  #serviceH .mobile-card {
    display: none;
  }
  #about #about-us .title,
  #about #story .title {
    font-size: 25px;
  }
  #about #story .story-text,
  #about #about-us .about-text {
    width: 90%;
  }
  #FAQ #faq .accordion {
    width: 80%;
  }
  #FAQ #faq .nav {
    width: 80%;
    height: 32px;
  }
  #FAQ #faq .accordion .accordion-body {
    width: 100%;
  }
  #FAQ #faq .nav .nav-item {
    font-size: 15px;
  }
  #FAQ #faq .nav .nav-item .nav-link {
    padding: 0px !important;
  }
  #FAQ #faq .accordion .accordion-body {
    margin-bottom: 30px;
  }
  #FAQ #faq .accordion .heading {
    line-height: normal;
    margin-bottom: 22px;
  }
  #FAQ #faq .accordion .heading .head_title::before {
    left: -40px;
    margin-left: 15px;
  }
  #contact #contact-us {
    flex-wrap: nowrap;
  }
  #contact #contact-us .contact-method .card-contact:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
  }
  #service-pro #how_work .card-1 .card_text {
    margin-right: 10%;
  }
  #service-pro #how_work .card-2 .card_text {
    margin-left: 9%;
  }
  #service-pro #how_work .card-3 .card_text {
    margin-right: 10%;
  }
  #upcomingP #header .dashboard-item button {
    border: 1px solid #e5e5e5;
  }
  #upcomingP #header .navbar .navbar-nav .nav-item .nav-link {
    color: #646464;
    text-align: left;
  }
  #upcomingP #header .navbar {
    opacity: 1;
  }
  #upcomingP #header .navbar .navbar-nav .nav-item:nth-child(-n + 5) {
    margin-left: 0px;
  }
  #upcomingP .offcanvas .nav-item {
    padding-left: 20px;
  }
  #upcomingP hr {
    margin: 3px 0px !important;
  }
  #upcomingP #header .notification-mobile,
  #serviceH #header .notification-mobile {
    display: flex;
    margin-left: auto;
  }
  #upcomingP .Notification .notification-img,
  #serviceH .Notification .notification-img {
    margin-right: 5px;
    margin-top: 8px;
  }
  #upcomingP .Notification .badge,
  #servieH #upcomingP .Notification .badge {
    top: 5px;
    right: 15px;
  }
  #upcomingP #header .pipe,
  #serviceH #header .pipe {
    margin: 10px 0px;
  }
}
@media (max-width: 767px) {
  /* home page media query  */
  #home #header {
    padding-top: 100px;
  }
  #home #header .text {
    margin-top: 0px;
  }
  #home #header .navbar-brand {
    height: 60px;
    width: 73px;
  }
  #home #header .text {
    margin-top: 40px;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
  }
  #home #header .step {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  #home #header .step .step-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: 100%;
  }
  #home #header .step .step-1 img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  #home #header .step .step-arrow {
    transform: rotate(90deg);
    width: 60px;
    height: 20px;
    margin-top: 35px;
  }
  #home #why-helperland .title,
  #home #our_blog p,
  #home #customer_say .title {
    margin-top: 20px;
    font-size: 30px;
  }
  #home #why-helperland .cards {
    display: block;
    margin-top: 10px;
  }
  #home #why-helperland .cards .card-1 img {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #home #why-helperland .cards .card-1,
  #home #why-helperland .cards .card-1:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  #home #why-helperland .cards .card-1 {
    width: 90%;
  }
  #home #why-helperland .cards .card-1 .card_head,
  #home #why-helperland .cards .card-1:nth-child(2) .card_head {
    font-size: 25px;
    margin-top: 5px;
  }
  #home #why-helperland .cards .card-1 .card_desc,
  #home #why-helperland .cards .card-1:nth-child(2) .card_desc {
    margin-top: 10px;
  }
  #home #img-section {
    display: block;
    margin-top: 30px;
  }
  #home #img-section img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #home #img-section .section_head {
    width: 90%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #home #img-section .section_desc {
    width: 90%;
    text-align: center;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #home #our_blog .cards {
    display: block;
    margin-top: 20px;
  }
  #home #our_blog .cards .card-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #home #our_blog .cards .card-1:nth-child(2) {
    margin: 20px auto;
  }
  #home #customer_say {
    padding-top: 20px;
  }
  #home #customer_say .cards {
    display: block;
  }
  #home #customer_say .cards .card-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
  #home #customer_say .cards .card-1:nth-child(2) {
    margin: 20px auto;
  }
  #news-letter {
    display: block;
    margin-top: 0px;
  }
  #news-letter .img {
    margin: 0px auto 10px;
  }
  #news-letter .container-fluid .news-email,
  #news-letter .container-fluid .news-button {
    margin-bottom: 10px;
  }
  /* home page media query  */
  #about .mobile-view,
  #FAQ .mobile-view,
  #price .mobile-view,
  #contact .mobile-view,
  #service-pro .mobile-view {
    margin-left: 0px;
  }
  #about .aimg,
  #price #main-img img,
  #contact #contact-img {
    display: none;
  }
  #FAQ #faq .title {
    font-size: 25px;
    text-align: center;
  }
  #FAQ #search img {
    display: none;
  }
  #price #cleaning .cleaning-card {
    width: 90%;
  }
  #price #cleaning .cleaning-card .img-1 img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
  }
  #price #cleaning .cleaning-card:nth-child(2) {
    margin: 0px;
  }
  #price #why .why-text {
    display: block;
    text-align: center;
  }
  #price #why .why-text .left-text,
  #price #why .why-text .right-text {
    width: 98%;
  }
  #price #why .why-text .top-head,
  #price #why .why-text .top-desc {
    text-align: center;
  }
  #price #why .why-text img {
    max-width: 400px;
    min-width: 200px;
    margin: 20px auto;
  }
  #price #prices .one-time {
    width: 90%;
  }
  #price #prices .one-time-title {
    width: 100%;
  }
  #price #prices img {
    margin-left: 30%;
    margin-right: 0px;
  }
  #price #services .services-img {
    flex-wrap: wrap;
  }
  #price #services div.card-price:nth-child(3),
  #price #services div.card-price:nth-child(5) {
    margin-right: 0%;
  }
  #contact #contact-us .contact-method {
    display: block;
  }
  #contact #contact-us .contact-method .card-contact:nth-child(2) {
    margin: 50px 0%;
  }
  #cotact #touch .contact-form,
  #contact #touch .contact-form .personal-detail .n_e {
    display: block;
  }
  #contact #touch .contact-form .personal-detail > input,
  #contact #touch .contact-form .personal-detail .n_e .mobile,
  #contact #touch .contact-form .subject select,
  #touch .contact-form .message textarea {
    width: 90%;
    margin-left: 0px;
  }
  #contact #touch .contact-form .personal-detail .n_e .mobile {
    margin-left: 18px;
  }
  #contact #touch .contact-form .personal-detail .n_e > input {
    width: 90%;
    margin-top: 15px;
  }
  #contact .hr {
    margin: 20px 0px 20px;
  }
  #service-pro #service-page #header .navbar .navbar-brand {
    width: 80px;
    height: 80px;
  }
  #service-pro #how_work .card-1,
  #service-pro #how_work .card-2,
  #service-pro #how_work .card-3 {
    display: block;
    text-align: center;
  }
  #service-pro #how_work .card-1 .card_text,
  #service-pro #how_work .card-2 .card_text,
  #service-pro #how_work .card-3 .card_text {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  #service-pro #how_work .card-1 .card_text .cardhead,
  #service-pro #how_work .card-2 .card_text .cardhead,
  #service-pro #how_work .card-3 .card_text .cardhead {
    text-align: center;
    margin-top: 20px;
  }
  #service-pro #how_work .card-1 .card_text .carddesc,
  #service-pro #how_work .card-2 .card_text .carddesc,
  #service-pro #how_work .card-3 .card_text .carddesc {
    text-align: center;
  }
  #service-pro #how_work .card-1 .card_text .read-more,
  #service-pro #how_work .card-2 .card_text .read-more,
  #service-pro #how_work .card-3 .card_text .read-more {
    text-align: center;
    margin-top: 10px;
  }
  #service-pro #service-page form {
    width: 80%;
    height: 78%;
  }
  #service-pro #reg_form form > input {
    width: 80%;
  }
  #service-pro #reg_form form > div {
    width: 80%;
  }
  #service-pro #reg_form form img {
    width: 80%;
    margin-bottom: 3%;
  }
  #service-pro #reg_form .get_started {
    width: 140px;
  }
  #service-pro #reg_form .get_started span {
    font-size: 12px;
  }
  #service-pro #reg_form .get_started img {
    width: 20px;
  }
  #upcomingP .tab-view,
  #serviceH .tab-view {
    display: none;
  }
  #upcomingP .mobile-card,
  #serviceH .mobile-card {
    display: inline;
  }
}
@media (max-width: 500px) {
  /* home page media query  */
  #news-letter .container-fluid .email-get {
    display: block;
  }
  #news-letter .container-fluid .news-button {
    margin: 0px auto 10px;
  }
  #news-letter .container-fluid .news-email {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #home #header .text {
    padding-left: 0%;
  }
  /* home page media query  */
  #FAQ #faq .nav .nav-item {
    font-size: 11px;
  }
  #FAQ #faq .nav {
    width: 90%;
    height: 25px;
    margin-top: 80px;
  }
  #price #prices .title,
  #price #services .title,
  #price #cleaning .title,
  #price #why .title {
    font-size: 25px;
  }
  #price #services .title {
    margin-top: -20px;
  }
  #price #cleaning .title {
    margin-top: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  #price #prices img {
    margin-left: 5px;
  }
  #price #services .services-img {
    display: block;
  }
  #price #services div.card-price {
    margin-right: 0%;
    margin-bottom: 10px;
  }
}
