@media(max-width:381px)
{
    #blog .blog_card img
    {
        height:auto;
    }
    #blog .blog_card .card-desc
    {
        width: auto;
        height: auto;
    }
    #blog .blog_card .card_title
    {
        width: 90%;
    }  
}
@media(max-width:465px)
{
    #Why-Helperland .container .title
    {
        text-align: center;
    }
    #Why-Helperland .container .WH_card
    {
        width: auto;
    }
    #Why-Helperland .container .WH_card .WH_img
    {
        height: auto;
        width: auto;
    }
    #Why-Helperland .container .WH_card .WH_text
    {
        width: auto;
        margin-bottom: auto;
    }
    #sec-rect .container-fluid .heading-div
    {
	    max-width: auto;
        margin: 104px auto 18px auto;
        text-align: center;
    }
    #blog .blog-title
    {
         margin: 15px auto 66px auto;
    }
    #customer-say .container-fluid .row .col-md-3
    {
        width: auto;
    }
    #customer-say .container-fluid .customer-card
    {
        width:auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #customer-say .container-fluid .customer-card .card-head
    {
        width: auto;
    }
    #customer-say .container-fluid .customer-card .card-head .customer-img
    {
        margin-top: auto;
    }
    #customer-say .container-fluid .customer-card .card-head .message-img
    {
        left:70%;
        top:20%;
    }
    #customer-say .container-fluid .customer-card .card-head .customer-details
    {
        margin-left: auto;
    }
}
@media(max-width:414px)
{
    #sec-rect .desc-div
    {
        width: auto;
        margin: 18px auto 47px auto;
        text-align: center;
    }
  #news-letter .container-fluid .email-get
  {
    display: block;
  }
  #news-letter .container-fluid .news-button
  {
    margin:0 auto 10px auto;
  }
  #news-letter .container-fluid .news-email
  {
    margin: 20px auto 13px auto;
    width:150px;
    display: flex;
    justify-content: center;   
  }
}