@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* about image seaction start */
.about-img .aimg {
  width: 100% !important;
  max-height: 368px;
  object-fit: cover;
}
/* about image seaction end */
/* about us section start */
#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-us .title {
  height: 30px;
  margin-top: 39px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  color: #4f4f4f;
}
#about-us .star {
  display: flex;
}
#about-us .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0 50px auto;
  background-color: #ccc;
}
#about-us .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 38px 9px;
  color: #1d7a8c;
}
#about-us .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 50px 0;
  background-color: #ccc;
}
#about-us .about-text {
  width: 62.9%;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #646464;
}
/* about us section end */
/* story section start */
#story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#story .title {
  height: 30px;
  margin-top: 4.7%;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  color: #4f4f4f;
}
#story .star {
  display: flex;
}
#story .star .line1 {
  width: 62px;
  height: 1px;
  margin: 23px 0 53px auto;
  background-color: #ccc;
}
#story .star img {
  width: 24px;
  height: 25px;
  margin: 11px 8px 41px 9px;
  color: #1d7a8c;
}
#story .star .line2 {
  width: 62px;
  height: 1px;
  margin: 23px auto 53px 0;
  background-color: #ccc;
}
#story .story-text {
  width: 62.9%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}
/* story section end */
/*Newsletter section start*/
#news-letter .container-fluid .news-letter-title {
  height: 13px;
  font-family: Roboto;
  margin-top: 4.7%;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #353548;
}
#news-letter .container-fluid .email-get {
  display: flex;
  justify-content: center;
}
#news-letter .container-fluid .news-email {
  width: 233px;
  height: 40px;
  margin: 20px 11px 53px 56px;
  padding-left: 25px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
#news-letter .container-fluid .news-email::placeholder {
  text-transform: uppercase;
}

#news-letter .container-fluid .news-button {
  width: 88px;
  height: 40px;
  margin: 20px 56px 53px 11px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  background-color: #ff7b6d;
}
#news-letter .container-fluid .news-button .button-text {
  width: 44px;
  height: 11px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/*Newsletter section end*/
