.page_content {
  margin-top: 55px;
  background-color: #f2f4f5;
  display: flex;
  min-height: 100vh;
}
.page_content .list-group {
  background-color: #fff;
  width: 250px !important;
  border-radius: 0px;
  position: fixed;
  height: 100vh;
}
.page_content .list-group a {
  font-weight: 450;
  border: none;
  border-bottom: 2px solid #e1e1e1;
}
.page_content .list-group .active {
  background-color: #fff;
  color: #1fb6ff;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}
.page_content .list-group a:hover {
  color: #1fb6ff;
}
.buttons-excel {
  border-radius: 4px !important;
  background-color: #1fb6ff !important;
  color: #fff !important;
  font-family: Roboto !important;
  float: right;
  margin: 0px 0px 10px 0px !important;
  font-size: 14px !important;
}
.page_content .table_content {
  margin: 20px 16px 0px 267px;
  width: 100%;
  height: 100%;
  font-family: Roboto;
}
.page_content .table_content .title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #646464;
  margin: 0px 0px 10px 0px;
}
.page_content .table_content .filter {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 0px 10px 0px 0px;
  margin: 10px 0px;
}
.page_content .table_content .filter .date {
  display: inline-block;
}
.page_content .table_content .filter input,
.page_content .table_content .filter select {
  border: 1px solid #e1e1e1;
  height: 46px;
  padding-left: 10px;
  font-size: 15px;
  margin: 15px 0px 15px 10px;
}
.page_content .table_content .filter .date input {
  width: 150px;
  padding-left: 35px;
}
.date img {
  position: absolute;
  padding-left: 20px;
  padding-top: 26px;
}
.page_content .table_content .filter select {
  color: #646464;
}
.page_content .table_content .filter .postal_code {
  width: 120px;
}
.page_content .table_content .filter input:focus,
.page_content .table_content .filter select:focus {
  border: 1px solid #1fb6ff;
  outline: none;
}
.page_content .table_content .filter .btn {
  border: 1px solid #e1e1e1;
  height: 46px;
  box-shadow: none;
  margin-bottom: 15px;
}
.page_content .table_content .filter .btn.search {
  background-color: #1fb6ff;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.page_content .table_content .filter .btn.clear:hover {
  border: 1px solid #1fb6ff;
  color: #1fb6ff;
}
.page_content .table_content .filter .select_usertype{
  margin-left: 30px;
}
.page_content .table_content .alert {
  margin-top: 10px;
  display: none;
}
.page_content .table_content .table {
  border: 2px solid #e1e1e1;
  margin-top: 15px;
  font-family: Roboto;
  color: #646464;
}
.page_content .table_content .add_user {
  border-radius: 4px;
  background-color: #1fb6ff;
  float: right;
  color: #fff;
  font-size: 14px;
}
.page_content .table_content .table thead th{
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  font-size: 14px;
}
.page_content .table_content .table thead th:nth-child(3)
{
  width: fit-content;
}
.page_content .table_content .table tbody tr{
  background-color: #fff;
  font-size: 14px;
  height: 60px;
  vertical-align: middle;
}
.page_content .table_content .table tbody .menu::after,
.page_content .table_content .table tbody .menu::before {
  content: none;
}
.page_content .table_content .table tbody .dropdown .btn{
  border-radius: 50%;
  padding: 3px 13px;
  box-shadow: none;
  margin-left: 10px;
}
.page_content .table_content .table tbody tr .menu:focus,.page_content .table_content .table tbody tr .menu:hover {
  background-color: #f4f4f4;
}

.page_content .table_content .table tbody .dropdown .dropdown-menu:before {
  position: fixed;
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #e5e5e5;
  right: 9px;
  top: -8px;
  transform: rotate(45deg);
  z-index: -1;
  border-right: none;
  border-bottom: none;
}
.page_content .table_content .table tbody .dropdown-menu {
  width: 163px;
  border-radius: 4px !important;
  border: 1px solid #e5e5e5;
  margin-top: 5px !important;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-family: Roboto;
}
.page_content .table_content .table tbody .status{
  padding: 3px 10px;
  color: #fff;
  font-size: 13px;
}
.page_content .table_content .table tbody .status.Active{
  background-color: #67b644;
}
.page_content .table_content .table tbody .status.Inactive{
  background-color: #ff6b6b;
}
.bottom{
  background-color: #fff;
  padding:20px 0px 20px 16px;
}
.bottom .bi {
  font-size: 12px;
}
.bottom .pagination .paginate_button a {
  font-size: 15px;
  border: 1px solid #e1e1e1;
  color: #646464;
}
.bottom .pagination .paginate_button.active a {
  background-color: #565656;
  border: 1px solid #565656;
  color: #fff;
}
.bottom .dataTables_length,
.bottom .dataTables_paginate {
  display: inline-block;
}
.bottom .dataTables_paginate {
  float: right;
}
.right_r{
  margin: 20px 0px 20px 0px;
  font-family: Roboto;
  font-size: 14px;
}
.select2-container--default .select2-selection--single:focus{
  outline: none !important;
  border: 1px solid #1fb6ff !important;
}
.select2-container--default .select2-selection--single{
  height: 46px !important;
  border-radius: 0px !important;
  border: 1px solid #e1e1e1 !important;
  margin-left: 10px !important;
  width: 160px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #646464!important;
  font-size: 15px !important;
  padding: 8px 0px 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  background: url('../images/down.png') no-repeat !important;
  background-position:center 18px !important; 
  top:0px;
  right: -20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-search--dropdown .select2-search__field{
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
  padding-left: 27px !important;
  background: url('../images/search.png') no-repeat !important;
  background-size:20px 20px !important ;
  background-position: 3px center !important;
}
.select2-container--default .select2-results__option{
  display: none !important;
}
.select2-search--dropdown{
  border: none !important;
  height: 100px !important;
  margin-left: 10px !important;
  width: 160px !important;
}
.select2-container--open .select2-dropdown--below{
  border: none;
  box-shadow: 2px 2px 5px #e1e1e1;
  width: 160px !important;
  margin-left: 10px !important;
}