@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #00000090 url("../images/preloader.svg") no-repeat center;
  z-index: 10000;
  display: none;
  margin-top: -55px;
}
#header .navbar {
  padding: 5px 18px 0px 15px;
  background-color: #1fb6ff;
}
#header .navbar-brand {
  width: 197px;
  margin: 1px auto 0 0;
  font-family: SwitzeraADF;
  font-size: 37.5px;
  font-weight: bold;
  line-height: 0.65;
  text-align: left;
  color: #fff;
}
#header .navbar .user-img {
  width: 34px;
  height: 34px;
  margin: 0 2px 0px auto;
  color: #fff;
}
#header .navbar .username {
  width: 93px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 2;
  text-align: left;
  color: #fff;
}
#header .navbar .logout {
  width: 26px;
  height: 29px;
  color: #fff;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
