@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* contact image section start  */
#contact-img img {
  width: 100%;
  max-height: 370px;
  object-fit: fill;
}
/* contact image section end  */
/* contact us section start */
#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact-us .title {
  margin-top: 39px;
  height: 27px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
#contact-us .star {
  display: flex;
}
#contact-us .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0px 54px auto;
  background-color: #ccc;
}
#contact-us .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 42px;
  color: #1d7a8c;
}
#contact-us .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 54px 0px;
  background-color: #ccc;
}
#contact-us .contact-method {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
#contact-us .contact-method .card-contact:nth-child(2) {
  margin-right: 203px;
  margin-left: 205px;
}
#contact-us .contact-method .location img {
  width: 34px;
  height: 54px;
  object-fit: contain;
  color: #1d7a8c;
  margin-bottom: 23px;
}
#contact-us .contact-method .call img {
  width: 46px;
  height: 52px;
  margin-bottom: 22px;
  object-fit: contain;
  color: #1d7a8c;
}
#contact-us .contact-method .message img {
  width: 61px;
  height: 37px;
  margin-bottom: 30px;
  object-fit: contain;
  color: #1d7a8c;
}
#contact-us .contact-method .text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
/* contact us section end */
.hr {
  height: 1px;
  margin: 76px 13.5% 80px;
  background-color: #e1e1e1;
}
/* touch with us section start */
#touch .touch-head {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
#touch .contact-form {
  display: flex;
  justify-content: center;
  text-align: center;
}
#touch .contact-form .personal-detail input,
#touch .contact-form .subject select,
#touch .contact-form .message textarea {
  border: 1px solid #c8c8c8;
  padding-left: 16px;
}
#touch .contact-form .personal-detail > input {
  width: 299px;
  height: 46px;
  margin-bottom: 15px;
}
#touch .contact-form .personal-detail > input:nth-child(2) {
  margin-left: 14px;
}
#touch .contact-form .personal-detail .n_e {
  display: inline-flex;
  margin-bottom: 15px;
  font-family: Roboto;
  font-size: 16px;
  color: #4f4f4f;
}
#touch .contact-form .personal-detail .n_e .mobile {
  width: 299px;
  height: 46px;
  margin-right: 17px;
}
#touch .contact-form .personal-detail .n_e .mobile input {
  width: 100%;
}
#touch .contact-form .personal-detail .n_e > input {
  width: 299px;
  height: 46px;
}
#touch .contact-form .subject select {
  width: 614px;
  margin-bottom: 15px;
}
#touch .contact-form .message textarea {
  width: 614px;
  margin-bottom: 5px;
}
#touch .contact-form .message textarea {
  height: 146px;
}
#touch .contact-form .subject select {
  height: 46px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
}
input[type="file"] {
  display: none;
}
#touch .contact-form .attech {
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color: #646364;
  font-family: Roboto;
}
#touch .contact-form .attech label {
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  color: #646464;
  width: 130px;
  font-size: 17px;
  margin: 5px auto 10px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  padding: 8px;
}
#touch .contact-form .privacy {
  text-align: left;
  width: 614px;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  color: #646464;
}
#touch .contact-form .privacy input {
  width: 15px;
  height: 15px;
}
#touch .contact-form .privacy .policies {
  font-size: 15px;
  width: 550px;
  margin: 0px 0px 10px 10px;
}
#touch .contact-form .privacy .colortext {
  color: #1d7a8c;
}
#touch .contact-form ::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
}
#touch .contact-form .submit {
  width: 163px;
  height: 46px;
  margin-bottom: 80px;
  border-radius: 23px;
  background-color: #1d7a8c;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
}
/* touch with us section end */
/* map image secton start */
#map-img {
  position: relative;
}
.m-img {
  width: 100%;
  max-height: 370px;
}
#map-img .pin {
  position: absolute;
  left: 45.4%;
  top: 45.5%;
  width: 3.1%;
  height: 16.8%;
}
/* map image section end */
/*Newsletter section start*/
#news-letter .container-fluid .news-letter-title {
  height: 13px;
  font-family: Roboto;
  margin-top: 47px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #353548;
}
#news-letter .container-fluid .email-get {
  display: flex;
  justify-content: center;
}
#news-letter .container-fluid .news-email {
  width: 233px;
  height: 40px;
  margin: 20px 11px 53px 56px;
  padding-left: 25px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
#news-letter .container-fluid .news-email::placeholder {
  text-transform: uppercase;
}

#news-letter .container-fluid .news-button {
  width: 88px;
  height: 40px;
  margin: 20px 56px 53px 11px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  background-color: #ff7b6d;
}
#news-letter .container-fluid .news-button .button-text {
  width: 44px;
  height: 11px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/*Newsletter section end*/
