@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* search section start*/

#search img {
  width: 100%;
  max-height: 370px;
  object-fit: cover;
}
/* search section end*/
/* faq section start*/
#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#faq .title {
  width: 80px;
  height: 30px;
  margin-top: 40px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.67;
  color: #4f4f4f;
}
#faq .star {
  display: flex;
}
#faq .star .line1 {
  width: 62px;
  height: 1px;
  margin: 26px 0px 49px auto;
  background-color: #ccc;
}
#faq .star img {
  width: 24px;
  height: 25px;
  margin: 14px 8px 37px 9px;
  color: #1d7a8c;
}
#faq .star .line2 {
  width: 62px;
  height: 1px;
  margin: 26px auto 49px 0px;
  background-color: #ccc;
}
#faq .text {
  max-width: 491px;
  height: 44px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #646464;
}
#faq .nav {
  width: 946px;
  margin: 36px auto 0 auto;
  height: 66px;
  background-color: #f6f6f6;
}
#faq .nav .nav-item {
  width: 50%;
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 2.17;
  text-align: center;
}
#faq .nav-tabs .nav-link.active {
  background-color: #1d7a8c;
  color: #ffffff;
}
#faq .nav .nav-link {
  color: #646464;
  border-bottom: 4px solid #1d7a8c;
}
#faq .accordion {
  max-width: 946px;
  height: auto;
}
#faq .accordion #headingOne {
  margin-top: 48px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 3.25;
  text-align: left;
  color: #646464;
}
#faq .accordion .heading .head_title {
  position: relative;
}

#faq .accordion .heading .head_title::before {
  content: " ";
  position: absolute;
  height: 22px;
  width: 22px;
  z-index: 10;
  left: -30px;
  top: -2px;
  background: url(../images/down-arrow.png);
}

#faq .accordion .heading .head_title.collapsed::before {
  background: url(../images/right-arrow.png);
}

#faq .accordion-body {
  padding: 0px;
}
#faq .accordion .accordion-body {
  width: 880px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #646464;
}
#faq .accordion .heading {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 3.25;
  text-align: left;
  color: #646464;
}
/* faq section end*/
/*Newsletter section start*/
#news-letter .container-fluid .news-letter-title {
  height: 13px;
  font-family: Roboto;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-align: center;
  color: #353548;
}
#news-letter .container-fluid .email-get {
  display: flex;
  justify-content: center;
}
#news-letter .container-fluid .news-email {
  width: 233px;
  height: 40px;
  margin: 20px 11px 53px 56px;
  padding-left: 25px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
#news-letter .container-fluid .news-email::placeholder {
  text-transform: uppercase;
}

#news-letter .container-fluid .news-button {
  width: 88px;
  height: 40px;
  margin: 20px 56px 53px 11px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  background-color: #ff7b6d;
}
#news-letter .container-fluid .news-button .button-text {
  width: 44px;
  height: 11px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.29;
  text-align: left;
  color: #ffffff;
}
/*Newsletter section end*/

