/* header section start */
#header {
    padding-top: 64px;
  }
  #header .navbar {
    width: 100%;
    padding: 6px 0px 4px 15px;
    opacity: 0.8;
    background-color: #525252;
    align-items: baseline;
  }
  #header .navbar .navbar-brand {
    width: 73px;
    height: 54px;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  #header .navbar .tab-view {
    margin-right: 0px;
    margin-left: auto;
  }
  #header .navbar .navbar-nav .nav-item {
    margin-right: 15px;
  }
  #header .tab-view .nav-item:hover {
    border-radius: 20px;
    height:40px ;
    border: solid 1px rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  #header .tab-view .l_line:hover {
    border:0px;
  }
  #header .navbar .prices:hover{
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  #header .navbar .nav-item .nav-link {
    font-family: Roboto;
    font-size: 17px;
    line-height: 1.41;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
  }
  #header .navbar .navbar-nav .book-now .nav-link {
    width: 111px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: #29626d;
  }
  #header .navbar .prices {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
  }
  #header .navbar .navbar-nav .guarantee
  {
    width: 130px;
  }
  #header .navbar .navbar-nav .blog{
    width: 70px;
  }
  #header .navbar .navbar-nav .contact{
    width: 130px;
  }
  #header .navbar .login .nav-link {
    width: 83px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: #29626d;
  }
  #header .navbar .navbar-nav .helper .nav-link {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: #29626d;
  }
  #header .mobile-view {
    display: none;
    margin-left: 80%;
  }
  #header .mobile-view .btn i {
    color:#fff;
    font-size: 30px;
  }
  #header .mobile-view .nav-item {
    padding: 10px 0px 0px 0px;
    list-style-type: none;
  }
  #header .mobile-view .nav-link {
    color: #4f4f4f !important;
    padding: 0px !important;
    text-align: left !important;
  }
  .offcanvas {
    width: 50% !important;
    overflow-y: auto;
  }
  #header .mobile-view .icon-social {
    text-align: center;
  }
  #header .mobile-view .icon-social i {
    font-size: 25px;
    margin-left: 10px;
  }
  input:focus{
    outline: none !important;
    border: 1px solid #1d7a8c !important;
  }
  .hoverw:hover .nav-link{
    background-color: #fff !important;
    color: #1d7a8c !important;
  }
  /* header section end */
