@media (max-width: 1200px) {
  /* home page media query  */
  #home #header {
    height: auto;
  }
  #home #header .navbar-nav .nav-item,
  #about #header .navbar-nav .nav-item,
  #FAQ #header .navbar .navbar-nav .nav-item,
  #price #header .navbar .navbar-nav .nav-item,
  #contact #header .navbar .navbar-nav .nav-item,
  #service-pro #header .navbar-nav .nav-item,
  #bookS #header .navbar-nav .nav-item,
  #Customer_signUp #header .navbar-nav .nav-item,
  #sp_new #header .navbar-nav .nav-item,
  #sp_history #header .navbar-nav .nav-item {
    margin-right: 5px;
  }
  #home #header .text {
    margin-top: 50px;
  }
  #home #header .step .step-1 {
    width: 15%;
  }
  #home #header .navbar-nav .home-book-now {
    width: 132px;
  }
  #header .tab-view .navbar-nav .home-prices {
    width: 55px;
  }
  #header .tab-view .navbar-nav .home-guarantee {
    width: 125px;
  }
  #header .tab-view .navbar-nav .home-blog {
    width: 70px;
  }
  #header .tab-view .navbar-nav .home-contact {
    width: 108px;
  }
  #home #header .navbar-nav .login {
    width: 80px;
  }
  #home #header .navbar-nav .helper {
    width: 150px;
  }
  #home #header .step {
    margin-top: 100px;
  }
  #home #why-helperland .cards .card-1 {
    width: 200px;
  }
  #home #why-helperland .cards .card-1 img {
    height: 200px;
  }
  #home #why-helperland .cards .card-1:nth-child(2) .card_head {
    margin-top: 60px;
  }
  #home #why-helperland .cards .card-1:nth-child(2) .card_desc {
    margin: 63px 3% 0px 3%;
  }
  #home #img-section img {
    width: 30%;
    height: 30%;
    margin-left: 5%;
    margin-top: 10%;
  }
  #home #img-section .section_head {
    width: 300px;
  }
  #home #img-section .section_desc {
    width: 430px;
  }
  #home #our_blog .cards .card-1 {
    width: 25%;
    height: auto;
  }
  #home #our_blog .cards .card-1 .card_img {
    width: 100%;
    height: auto;
  }
  #home #our_blog .cards .card-1 .card_head {
    width: 80%;
  }
  #home #our_blog .cards .card-1 .card_desc {
    width: 80%;
  }
  #home #our_blog .cards .card-1:nth-child(2) {
    margin: 0px 3% 0px 3%;
  }
  #home #customer_say .cards .card-1 {
    width: 25%;
    height: auto;
    padding: 43px 20px 10px 5px;
  }
  #home #customer_say .cards .card-1 .customer_details .c_name {
    margin: 17px 0px 0px 2px;
  }
  #home #customer_say .cards .card-1:nth-child(2) {
    margin: 0px 3% 0px 3%;
  }
  /* home page media query  */
  #price #cleaning .cleaning-card {
    width: 30%;
  }
  #price #why .why-text .left-text,
  #price #why .why-text .right-text {
    width: 30%;
  }
  #price #why .why-text .top-head {
    width: 100%;
  }
  #price #why .why-text .top-desc {
    width: 100%;
    margin-left: 0px;
  }
  #price #why .why-text img {
    margin: 0px;
    width: 30%;
  }
  #price #services div.card-price {
    margin-right: 10%;
  }
  #price #services div.card-price:nth-child(5) {
    margin-right: 0px;
  }
  .table_page,
  .table_page .service_head,
  #service_history .table {
    width: 750px;
    margin-left: 0px;
  }
  #sp_new #filter,
  #sp_history #filter,
  #sp_blockC #filter .table {
    width: 770px;
    margin-left: 0px;
  }
  #list {
    width: 200px;
    margin-right: 10px;
  }
  #service_history tr td:nth-child(2),
  #sp_new tr td:nth-child(2) {
    width: 110px;
  }

  #bookS .step_payment .step_p,
  #bookS #your_details .details {
    width: 607px;
  }
  #bookS .step_payment .nav-link {
    height: 90px;
    padding: 55px 0px 0px 0px !important;
    background-position: center 20px;
    width: 150px;
    text-align: center;
  }
  #bookS .triangle {
    top: 90px;
    left: 40%;
  }
  #bookS .payment {
    margin-left: 1%;
    width: 280px;
  }
  #bookS .payment .card-pay .card_title {
    width: 100%;
  }
  #bookS .step_payment .book_time .when {
    margin-right: 10px;
  }
  #bookS .step_payment .extra .extra-1 {
    margin-right: 3%;
  }
  #bookS .step_payment .extra .extra-1:nth-child(5) {
    margin-right: 0px;
  }
  #bookS .step_payment .when select {
    margin: 10px 2px 0px;
  }
  #bookS .payment .accordion-body {
    width: 100%;
  }
  #bookS .step_payment #your_details .address_card {
    width: 100%;
  }
  #bookS .step_payment #your_details .favourite_sp {
    width: 600px;
  }
  #header .navbar .prices {
    width: 150px;
  }
  #header .navbar .book-now {
    width: 130px;
  }
  #header .navbar .blog {
    width: 80px;
  }
  #my_details .dob select {
    width: 30%;
  }
  #my_details .nationality {
    width: 225px;
  }
  #header .navbar .ws_navbrand {
    width: 10%;
    height: 12%;
  }
}
@media (max-width: 1000px) {
  .footer .footer_head {
    display: block;
    width: auto;
  }
  .footer .footer_head .logo {
    width: fit-content;
    margin: 0px auto;
  }
  .footer .menu_footer ul {
    display: block;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  .footer .menu_footer ul .link {
    margin-left: 0px;
  }
  .footer .footer_head .social_footer {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 990px) {
  .tab-view {
    display: none;
  }
  #header .mobile-view {
    display: block;
  }
  .mobile-card {
    display: none;
  }
  #about #about-us .title,
  #about #story .title {
    font-size: 25px;
  }
  #about #story .story-text,
  #about #about-us .about-text {
    width: 90%;
  }
  #home #header {
    padding-top: 150px;
  }
  #FAQ #header,
  #about #header {
    padding-top: 77px;
  }
  #FAQ #faq .accordion {
    width: 80%;
  }
  #FAQ #faq .nav {
    width: 80%;
    height: 32px;
  }
  #FAQ #faq .accordion .accordion-body {
    width: 100%;
  }
  #FAQ #faq .nav .nav-item {
    font-size: 15px;
  }
  #FAQ #faq .nav .nav-item .nav-link {
    padding: 0px !important;
  }
  #FAQ #faq .accordion .accordion-body {
    margin-bottom: 30px;
  }
  #FAQ #faq .accordion .heading {
    line-height: normal;
    margin-bottom: 22px;
  }
  #FAQ #faq .accordion .heading .head_title::before {
    left: -40px;
    margin-left: 15px;
  }
  #contact #contact-us {
    flex-wrap: nowrap;
  }
  #contact #contact-us .contact-method .card-contact:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
  }
  #service-pro #how_work .card-1 .card_text {
    margin-right: 10%;
  }
  #service-pro #how_work .card-2 .card_text {
    margin-left: 9%;
  }
  #service-pro #how_work .card-3 .card_text {
    margin-right: 10%;
  }
  #upcomingP #header .dashboard-item button {
    border: 1px solid #e5e5e5;
  }
  #upcomingP #header .navbar .navbar-nav .nav-item .nav-link {
    color: #646464;
    text-align: left;
  }
  #upcomingP #header .navbar {
    opacity: 1;
  }
  #upcomingP #header .navbar .navbar-nav .nav-item:nth-child(-n + 5) {
    margin-left: 0px;
  }
  #upcomingP .offcanvas .nav-item {
    padding-left: 20px;
  }
  #upcomingP hr {
    margin: 3px 0px !important;
  }
  #header .notification-mobile {
    display: flex;
    margin-left: auto;
  }
  .Notification .notification-img {
    margin-right: 5px;
    margin-top: 8px;
  }
  .Notification .badge {
    top: 5px;
    right: 15px;
  }
  #header .pipe {
    margin: 10px 0px;
  }
  #bookS .step_payment {
    display: block;
  }
  #bookS .payment {
    width: 610px;
    margin-top: 80px;
  }
  #bookS .step_payment .when select {
    margin: 0px 2px 0px;
  }
  #bookS .step_payment #your_details {
    width: 600px;
  }
  #bookS .step_payment #your_details .fav_sp_card {
    width: 100px;
  }
  #list {
    display: none;
  }
  #filter {
    width: 760px;
  }
}
@media (max-width: 767px) {
  /* home page media query  */
  #home #header {
    padding-top: 80px;
  }
  #home #header .text {
    margin-top: 0px;
  }
  #header .navbar-brand {
    height: 60px !important;
    width: 73px !important;
  }
  #home #header .text {
    margin-top: 40px;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
  }
  #home #header .step {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  #home #header .step .step-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: 100%;
  }
  #home #header .step .step-1 img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  #home #header .step .step-arrow {
    transform: rotate(90deg);
    width: 60px;
    height: 20px;
    margin-top: 35px;
  }
  #home #why-helperland .title,
  #home #our_blog p,
  #home #customer_say .title {
    margin-top: 20px;
    font-size: 30px;
  }
  #home #why-helperland .cards {
    display: block;
    margin-top: 10px;
  }
  #home #why-helperland .cards .card-1 img {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #home #why-helperland .cards .card-1,
  #home #why-helperland .cards .card-1:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  #home #why-helperland .cards .card-1 {
    width: 90%;
  }
  #home #why-helperland .cards .card-1 .card_head,
  #home #why-helperland .cards .card-1:nth-child(2) .card_head {
    font-size: 25px;
    margin-top: 5px;
  }
  #home #why-helperland .cards .card-1 .card_desc,
  #home #why-helperland .cards .card-1:nth-child(2) .card_desc {
    margin-top: 10px;
  }
  #home #img-section {
    display: block;
    margin-top: 30px;
  }
  #home #img-section img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #home #img-section .section_head {
    width: 90%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #home #img-section .section_desc {
    width: 90%;
    text-align: center;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #home #our_blog .cards {
    display: block;
    margin-top: 20px;
  }
  #home #our_blog .cards .card-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #home #our_blog .cards .card-1:nth-child(2) {
    margin: 20px auto;
  }
  #home #customer_say {
    padding-top: 20px;
  }
  #home #customer_say .cards {
    display: block;
  }
  #home #customer_say .cards .card-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
  #home #customer_say .cards .card-1:nth-child(2) {
    margin: 20px auto;
  }
  #news-letter {
    display: block;
    margin-top: 0px;
  }
  #news-letter .img {
    margin: 0px auto 10px;
  }
  #news-letter .container-fluid .news-email,
  #news-letter .container-fluid .news-button {
    margin-bottom: 10px;
  }
  /* home page media query  */
  #header .mobile-view {
    margin-left: 0px;
  }
  #about .aimg,
  #price #main-img img,
  #contact #contact-img {
    display: none;
  }
  #FAQ #faq .title {
    font-size: 25px;
    text-align: center;
  }
  #FAQ #search img {
    display: none;
  }
  #price #cleaning .cleaning-card {
    width: 90%;
  }
  #price #cleaning .cleaning-card .img-1 img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
  }
  #price #cleaning .cleaning-card:nth-child(2) {
    margin: 0px;
  }
  #price #why .why-text {
    display: block;
    text-align: center;
  }
  #price #why .why-text .left-text,
  #price #why .why-text .right-text {
    width: 98%;
  }
  #price #why .why-text .top-head,
  #price #why .why-text .top-desc {
    text-align: center;
  }
  #price #why .why-text img {
    max-width: 400px;
    min-width: 200px;
    margin: 20px auto;
  }
  #price #prices .one-time {
    width: 90%;
  }
  #price #prices .one-time-title {
    width: 100%;
  }
  #price #prices img {
    margin-left: 30%;
    margin-right: 0px;
  }
  #price #services .services-img {
    flex-wrap: wrap;
  }
  #price #services div.card-price:nth-child(3),
  #price #services div.card-price:nth-child(5) {
    margin-right: 0%;
  }
  #contact #contact-us .contact-method {
    display: block;
  }
  #contact #contact-us .contact-method .card-contact:nth-child(2) {
    margin: 50px 0%;
  }
  #cotact #touch .contact-form,
  #contact #touch .contact-form .personal-detail .n_e {
    display: block;
  }
  #contact #touch .contact-form .personal-detail > input,
  #contact #touch .contact-form .personal-detail .n_e .mobile,
  #contact #touch .contact-form .subject select,
  #touch .contact-form .message textarea {
    width: 90%;
    margin-left: 0px;
  }
  #contact #touch .contact-form .personal-detail .n_e .mobile {
    margin-left: 18px;
  }
  #contact #touch .contact-form .personal-detail .n_e > input {
    width: 90%;
    margin-top: 15px;
  }
  #contact #touch .contact-form .privacy,
  #contact #touch .contact-form .attech {
    width: 80%;
    margin-left: 5%;
  }
  #contact #touch .contact-form .privacy .policies {
    width: 90%;
  }
  #contact .hr {
    margin: 20px 0px 20px;
  }
  #service-pro #service-page #header .navbar .navbar-brand {
    width: 80px;
    height: 80px;
  }
  #service-pro #how_work .card-1,
  #service-pro #how_work .card-2,
  #service-pro #how_work .card-3 {
    display: block;
    text-align: center;
  }
  #service-pro #how_work .card-1 .card_text,
  #service-pro #how_work .card-2 .card_text,
  #service-pro #how_work .card-3 .card_text {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  #service-pro #how_work .card-1 .card_text .cardhead,
  #service-pro #how_work .card-2 .card_text .cardhead,
  #service-pro #how_work .card-3 .card_text .cardhead {
    text-align: center;
    margin-top: 20px;
  }
  #service-pro #how_work .card-1 .card_text .carddesc,
  #service-pro #how_work .card-2 .card_text .carddesc,
  #service-pro #how_work .card-3 .card_text .carddesc {
    text-align: center;
  }
  #service-pro #how_work .card-1 .card_text .read-more,
  #service-pro #how_work .card-2 .card_text .read-more,
  #service-pro #how_work .card-3 .card_text .read-more {
    text-align: center;
    margin-top: 10px;
  }
  #service-pro #service-page form {
    width: 80%;
  }
  #service-pro #reg_form form > input {
    width: 80%;
  }
  #service-pro #reg_form form > div {
    width: 80%;
  }
  #service-pro #reg_form form img {
    width: 80%;
    margin-bottom: 3%;
  }
  #service-pro #reg_form .get_started {
    width: 140px;
  }
  #service-pro #reg_form .get_started span {
    font-size: 12px;
  }
  #service-pro #reg_form .get_started img {
    width: 20px;
  }
  .mid-dash {
    display: block;
  }
  .table thead {
    display: none;
  }
  #service_history .table,
  .table_page .service_head {
    width: 90%;
    margin: 20px auto;
    border: none;
  }
  .only_mobile_view {
    display: block;
  }
  #my_settings .table_page {
    width: 90%;
    margin: 20px auto;
  }
  #my_settings .table_page .nav-item .nav-link span {
    display: none;
  }
  #my_settings .table_page .nav-item .nav-link i {
    display: block;
  }
  #my_settings .details > div {
    display: block;
    width: 100%;
  }
  #my_settings #my_addresses .table thead {
    display: block;
  }
  #my_settings #my_addresses .table thead th {
    border: none;
  }
  #my_settings #my_addresses .table tr td {
    display: inline-block !important;
    border: none;
  }
  #my_settings #my_addresses .table thead tr th:nth-child(1) {
    width: 90%;
  }
  #my_settings #my_addresses .table tr {
    border-bottom: 1px solid #e1e1e1;
  }
  #my_settings #my_addresses .table tr td:nth-child(1) {
    width: 80%;
  }
  #my_settings #change_password input {
    width: 100%;
  }
  #my_settings .title {
    display: block;
  }
  #my_details .nationality {
    width: 100%;
  }
  #my_details .dob select {
    width: 32%;
  }
  #my_all_details #edit_address > div {
    display: block;
    width: 100%;
  }
  #my_all_details #edit_address > div input {
    width: 100%;
  }
  .table_page,
  #sp_new #filter,
  #sp_blockC #filter .table,
  #sp_blockC #filter {
    width: 90%;
    margin: 10px auto;
  }
  #sp_blockC #filter .table tr {
    display: block;
    margin: 0px auto 10px;
  }
  #sp_blockC #filter .table tr td {
    border: none !important;
    width: 220px !important;
  }
  #sp_blockC #filter tr td:nth-child(1) {
    margin-top: 0px;
  }
  #filter .table {
    border: none !important;
  }
  #customer_dashboard .service_head a {
    display: block;
  }
  #customer_dashboard .service_head .service_txt {
    font-size: 18px;
  }
  #customer_dashboard .export {
    float: left;
    margin-top: 10px;
  }
  .table tbody tr td {
    display: block !important;
    border: #646464;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 10px 8px;
  }
  #service_history tr td:nth-child(1),
  #filter tr td:nth-child(1) {
    margin-top: 30px;
    border-top: 1px solid #e1e1e1;
  }
  #service_history tr td:nth-child(2),
  #filter tr td:nth-child(2) {
    width: inherit;
  }
  #filter tr td:nth-last-child(1),
  #filter tr th:nth-last-child(1) {
    float: none;
  }
  #service_history tr td,
  #filter tr td {
    margin-top: 0px;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px !important;
    text-align: center;
  }
  #filter .rating_table tr td {
    border: none !important;
    margin: 0px !important;
  }
  #filter .rating {
    border: none;
    padding: 0px !important;
  }
  #filter .rating > div {
    border: 1px solid #e1e1e1;
    border-top: none;
    width: 100%;
    padding: 10px 0px;
  }
  #filter .rating .cust_comments {
    margin-top: 0px;
  }
  #filter .rating > div:nth-child(1) {
    border-top: 1px solid #e1e1e1;
  }
  #filter .rating div:nth-child(1) {
    width: 100%;
  }
  .mydiv {
    justify-content: center;
    width: auto;
  }
  .mydiv .desc {
    text-align: left;
  }
  .buttons-excel {
    float: left;
    margin: -10px 0px 0px 5% !important ;
  }
  #sp_new .buttons-excel {
    margin: 0px !important;
  }
  .table tbody tr td:nth-last-child(1) {
    border-bottom: 1px solid #e1e1e1;
  }
  #filter .table > :not(caption) > * > * {
    border-bottom-width: 1px !important;
  }
  .bottom .dataTables_length,
  .bottom .dataTables_info,
  .bottom .dataTables_paginate {
    display: block;
  }
  .bottom .dataTables_paginate {
    float: none;
    margin-top: 20px !important;
  }
  #bookS #main-img {
    display: none;
  }
  #bookS #book_service .title {
    font-size: 25px;
    line-height: 1.2;
  }
  #bookS .step_payment .step_payment {
    width: 100%;
  }
  #bookS .step_payment .title_mobile {
    display: block;
  }
  #bookS .step_payment #setup_service .input {
    display: block;
  }
  #bookS .step_payment #setup_service button {
    margin-left: 0px;
    float: right;
  }
  #bookS .step_payment #setup_service input {
    width: 100%;
  }
  #bookS .step_payment .nav-tabs {
    flex-wrap: nowrap;
  }
  #bookS .step_payment .step_p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #bookS .step_payment .nav-link .all_name {
    display: none;
  }
  #bookS .step_payment .nav-link {
    height: 30px;
    background-position: center 15px;
    border-right: 1px solid #fff;
    width: 100px;
  }
  #bookS .payment {
    display: none;
  }
  #bookS .triangle {
    top: 50px;
    left: 34%;
  }
  #bookS .step_payment .extra {
    display: block;
  }
  #bookS .step_payment .middle {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  #bookS .step_payment .extra .extra-1 p {
    margin-bottom: 20px;
  }
  #bookS .step_payment .book_time {
    display: block;
  }
  #bookS .step_payment .when select {
    margin: 10px 2px 0px;
  }
  #bookS .step_payment .middle .select_title {
    width: 150px;
  }
  #bookS .step_payment .date img {
    padding-top: 22px;
  }
  #bookS .step_payment #your_details,
  #bookS .step_payment #make_payment {
    width: 390px;
  }
  #bookS .step_payment #your_details .favourite_sp,
  #bookS #your_details .details {
    width: 400px;
  }
  #bookS .step_payment #your_details .address_card > div {
    display: block;
    width: 100%;
  }
  #bookS .step_payment #make_payment .promo_code input {
    width: 60%;
  }
  #Customer_signUp #create .title {
    font-size: 30px;
  }
  #Customer_signUp #create .contact-form .personal-detail input,
  #Customer_signUp #create .contact-form .personal-detail .n_e .mobile {
    width: 100%;
  }
  #Customer_signUp #create .contact-form .errors {
    width: 254px;
  }
  #Customer_signUp #create .contact-form .personal-detail .n_e,
  #Customer_signUp #create .contact-form .name,
  #Customer_signUp #create .contact-form .password {
    display: block;
  }
  #Customer_signUp #create .contact-form .name div,
  #Customer_signUp #create .contact-form .n_e > div,
  #Customer_signUp #create .contact-form .password div {
    margin: 0px auto 10px;
  }
  #Customer_signUp #create .contact-form .n_e > div {
    margin-bottom: 10px;
  }
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 642px) {
  #my_settings #my_addresses .table {
    width: 580px;
  }
  #my_settings #my_addresses {
    overflow-x: auto;
  }
  #details_request .modal-dialog .modal-content .map {
    display: block !important;
    margin-top: 10px;
  }
  #details_request .modal-dialog .modal-content .text {
    width: 100%;
  }
  .offcanvas {
    width: 90% !important;
    overflow-y: auto;
  }
}
@media (max-width: 560px) {
  /* home page media query  */
  #news-letter .container-fluid .email-get {
    display: block;
  }
  #news-letter .container-fluid .news-button {
    margin: 0px auto 10px;
  }
  #news-letter .container-fluid .news-email {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #home #header .text {
    padding-left: 0%;
  }
  /* home page media query  */
  #FAQ #faq .nav .nav-item {
    font-size: 11px;
  }
  #FAQ #faq .nav {
    width: 90%;
    height: 25px;
    margin-top: 80px;
  }
  #price #prices .title,
  #price #services .title,
  #price #cleaning .title,
  #price #why .title {
    font-size: 25px;
  }
  #price #services .title {
    margin-top: -20px;
  }
  #price #cleaning .title {
    margin-top: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  #price #prices img {
    margin-left: 5px;
  }
  #price #services .services-img {
    display: block;
  }
  #price #services div.card-price {
    margin-right: 0%;
    margin-bottom: 10px;
  }
  #bookS .step_payment .nav-tabs {
    border: none;
    justify-content: center;
  }
  #bookS .step_payment .step_p {
    width: 90%;
  }
  #bookS .step_payment .nav-link {
    width: 80px;
  }
  #bookS .triangle {
    left: 30%;
  }
  #bookS .step_payment #your_details,
  #bookS .step_payment #make_payment,
  #bookS #your_details .details {
    width: 300px;
  }
  #bookS .step_payment #your_details li {
    font-size: 14px;
    padding-left: 3px;
  }
  #bookS .step_payment #your_details .add {
    margin-right: 5px;
  }
  #bookS .step_payment #your_details .favourite_sp {
    width: 300px;
  }
  #bookS .step_payment #your_details .phone_number {
    margin-left: 25px;
  }
  #bookS .step_payment #make_payment .card_no .card_no_input {
    width: 140px;
  }
  #bookS .step_payment #make_payment .card_no {
    width: 300px;
  }
  .reset_password {
    width: 90%;
  }
  #filter .pet_filter {
    display: block;
    margin: 10px 0px -10px 0px;
  }
  #my_details .dob select {
    width: 31%;
  }
  #my_details .gender span {
    display: block;
  }
}
@media (max-width: 350px) {
  #bookS .step_payment .nav-item {
    width: 70px;
  }
  #bookS .step_payment .nav-item .nav-link {
    width: 70px;
  }
  #bookS .step_payment .step_p {
    width: 90%;
  }
  #bookS .step_payment .errors {
    width: 180px;
  }
  #bookS .triangle {
    left: 25%;
  }
  #bookS .step_payment #your_details .favourite_sp {
    width: 250px;
  }
  #bookS .step_payment #your_details,
  #bookS .step_payment #make_payment,
  #bookS #your_details .details {
    width: 250px;
  }
  #bookS .step_payment #make_payment .card_no .card_no_input {
    width: 100px;
    padding-left: 0px;
  }
  #bookS .step_payment #make_payment .card_no {
    width: 250px;
  }
  #bookS .step_payment #make_payment .card_no i {
    display: none;
  }
  #sp_history .mobile-view .export_payment .btn {
    float: none;
  }
  #contact #touch .contact-form .privacy .policies {
    width: 85%;
  }
  #my_details .dob select {
    width: 30%;
  }
}
