/*Newsletter section start*/
#news-letter .container-fluid .news-letter-title {
    height: 13px;
    font-family: Roboto;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    text-align: center;
    color: #353548;
  }
  #news-letter .container-fluid .email-get {
    display: flex;
    justify-content: center;
  }
  #news-letter .container-fluid .news-email {
    width: 233px;
    height: 40px;
    margin: 20px 11px 53px 56px;
    padding-left: 25px;
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
  }
  #news-letter .container-fluid .news-email::placeholder {
    text-transform: uppercase;
  }
  
  #news-letter .container-fluid .news-button {
    width: 88px;
    height: 40px;
    margin: 20px 56px 53px 11px;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
    background-color: #ff7b6d;
  }
  #news-letter .container-fluid .news-button .button-text {
    width: 44px;
    height: 11px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 2.29;
    text-align: left;
    color: #ffffff;
  }
  /*Newsletter section end*/
  