@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* main img section start */
#main-img img {
  width: 100% !important;
  max-height: 370px;
  object-fit: cover;
}
/* main img section end */
/* prices section start */
#prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#prices .title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.67;
  text-align: center;
  color: #4f4f4f;
  margin-top: 38px;
}
#prices .star {
  display: flex;
}
#prices .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0px 54px auto;
  background-color: #ccc;
}
#prices .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 42px;
  color: #1d7a8c;
}
#prices .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 54px 0px;
  background-color: #ccc;
}
#prices .one-time {
  width: 553px;
  height: 304px;
  padding: 0 0 32px;
  border: solid 1px #b0c9ce;
  background-color: #fff;
}
#prices .one-time-title {
  width: 553px;
  height: 59px;
  margin: 0 0 29px;
  background-color: #1d7a8c;
  text-align: center;
  padding-top: 18px;
}
#prices .one-time-title span {
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  line-height: 0.86;
  color: #fff;
}
#prices .rupee {
  text-align: center;
  font-size: 30px;
  font-family: Roboto;
  line-height: 0.8;
  color: #646464;
  margin-bottom: 38px;
}
#prices .rupee .uro {
  margin-right: 9px;
}
#prices img {
  width: 25px;
  height: 24px;
  object-fit: contain;
  color: #1d7a8c;
  margin-left: 151px;
  margin-right: 9px;
}
#prices .true-symbol span {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #646464;
}
#prices .true-symbol .div2 {
  margin-top: 19px;
}
#prices .line {
  height: 1px;
  margin: 51px auto 47px auto;
  background-color: #dcdcdc;
}
/* prices section end */
/* services section start */
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#services .title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.67;
  text-align: center;
  color: #4f4f4f;
}
#services .star {
  display: flex;
}
#services .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0px 54px auto;
  background-color: #ccc;
}
#services .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 42px;
  color: #1d7a8c;
}
#services .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 54px 0px;
  background-color: #ccc;
}
#services .services-img {
  display: flex;
  justify-content: center;
  text-align: center;
}
#services .services-img .price {
  width: 108px;
  height: 108px;
  border: solid 1px #b0c9ce;
  border-radius: 50%;
}
#services .services-img .prices1 img {
  width: 37px;
  height: 48px;
  object-fit: contain;
  color: #646464;
  margin: 30px 35px 30px 36px;
}
#services .services-img .prices2 img {
  width: 28px;
  height: 56px;
  object-fit: contain;
  color: #646464;
  margin: 24px 40px 28px;
}
#services .services-img .prices3 img {
  width: 52px;
  height: 33px;
  object-fit: contain;
  color: #646464;
  margin: 37px 28px 38px;
}
#services .services-img .prices4 img {
  width: 39px;
  height: 46px;
  object-fit: contain;
  color: #646464;
  margin: 31px 34px 31px 35px;
}
#services .services-img .prices5 img {
  width: 47px;
  height: 47px;
  object-fit: contain;
  color: #646464;
  margin: 31px 30px 30px 31px;
}
#services div.card-price {
  margin-right: 109px;
}
#services div.card-price:nth-child(5) {
  margin-right: 0px;
}
#services .services-img .cabinets {
  margin-top: 17px;
  height: 12px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  color: #646464;
}
#services .services-img .minute {
  margin-top: 12px;
  margin-bottom: 61px;
  height: 14px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #1d7a8c;
}
/* services section end */
/* cleaning section start */
#cleaning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}
#cleaning .title {
  margin-top: 80px;
  min-width: 222px;
  height: 27px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.67;
  text-align: center;
  color: #4f4f4f;
}
#cleaning .star {
  display: flex;
}
#cleaning .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0px 54px auto;
  background-color: #ccc;
}
#cleaning .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 42px;
  color: #1d7a8c;
}
#cleaning .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 54px 0px;
  background-color: #ccc;
}
#cleaning .row {
  justify-content: center;
}
#cleaning .cleaning-card {
  width: 360px;
  height: auto;
}
#cleaning .cleaning-card img {
  object-fit: contain;
}
#cleaning .cleaning-card .card-head {
  margin: 24px auto 18px 0;
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #4f4f4f;
}
#cleaning .cleaning-card .card-desc img {
  width: 22px;
  height: 22px;
  margin-right: 9px;
  color: #bbb;
}
#cleaning .cleaning-card .card-desc {
  font-family: Roboto;
  font-size: 16px;
  line-height: 2.25;
  color: #4f4f4f;
}
#cleaning .cleaning-card:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 82px;
}
/* cleaning section end */
/* why helperland section start */
#why {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#why .title {
  margin-top: 78px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.67;
  text-align: center;
  color: #4f4f4f;
}
#why .star {
  display: flex;
}
#why .star .line1 {
  width: 62px;
  height: 1px;
  margin: 30px 0px 54px auto;
  background-color: #ccc;
}
#why .star img {
  width: 24px;
  height: 25px;
  margin: 18px 8px 42px;
  color: #1d7a8c;
}
#why .star .line2 {
  width: 62px;
  height: 1px;
  margin: 30px auto 54px 0px;
  background-color: #ccc;
}
#why .why-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#why .why-text .top-head {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  color: #646464;
}
#why .why-text .top-desc {
  width: 300px;
  text-align: right;
  margin-left: 52px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  text-align: right;
  color: #646464;
}
#why .why-text .right-text .top-left .top-head {
  text-align: left;
}
#why .why-text .right-text .top-left .top-desc {
  text-align: left;
  margin-left: 0px;
}
#why .why-text img {
  object-fit: contain;
  margin: 0 46px 79px 47px;
}
/* why helperland section end */
/*Newsletter section start*/
#news-letter {
  display: flex;
}
#news-letter .img {
  width: 63px;
  height: 63px;
  margin-right: 70px;
  object-fit: contain;
}
#news-letter .container-fluid .news-letter-title {
  margin-top: 2.8%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-align: center;
  color: #353548;
}
#news-letter .container-fluid .email-get {
  display: flex;
  justify-content: center;
}
#news-letter .container-fluid .news-email {
  width: 233px;
  height: 40px;
  margin: 20px 11px 53px 56px;
  padding-left: 25px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
#news-letter .container-fluid .news-email::placeholder {
  text-transform: uppercase;
}

#news-letter .container-fluid .news-button {
  width: 88px;
  height: 40px;
  margin: 20px 56px 53px 11px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  background-color: #ff7b6d;
}
#news-letter .container-fluid .news-button .button-text {
  width: 44px;
  height: 11px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.29;
  text-align: left;
  color: #ffffff;
}
/*Newsletter section end*/
.up-arrow {
  display: none;
}
.up-arrow.active {
  display: block;
  position: fixed;
  width: 48px;
  height: 48px;
  padding: 10px 14px 20px;
  background-color: #525252;
  border-radius: 50%;
  left: 4.5%;
  bottom: 271px;
}
