@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.reset_password {
  font-family: Roboto;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #646464;
  text-align: center;
  margin: 40px auto 0px;
}
.reset_password span {
  font-size: 20px;
  text-align: left;
  color: #646464;
}
.reset_password input {
  height: 46px;
  border: 1px solid #e5e5e5;
  width: 100%;
  margin: 10px auto 0px;
  padding-left: 20px;
  border-radius: 4px;
}
.reset_password .newpassword {
  margin-bottom: 20px;
}
.reset_password {
  width: 300px;
  margin: 0px auto;
}
.reset_password .errors {
  color: #a94442;
  display: none;
}
.reset_password .save {
  background-color: #1d7a8c;
  color: #fff;
  margin: 20px auto 20px;
  display: block;
  border-radius: 40px;
  width: 80px;
}
.star {
  display: flex;
  justify-content: center;
}
.star .line1 {
  width: 62px;
  height: 1px;
  margin: 26px 0px 49px auto;
  background-color: #ccc;
}
.star img {
  width: 24px;
  height: 25px;
  margin: 14px 8px 37px 9px;
  color: #1d7a8c;
}
.star .line2 {
  width: 62px;
  height: 1px;
  margin: 26px auto 49px 0px;
  background-color: #ccc;
}
