
  .mobile-view .entrie_select {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-family: Roboto;
    color: #646464;
  }
  .mobile-view .entrie_select select {
    width: 62px;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #e1e1e1;
    font-family: Roboto;
    font-size: 14px;
    color: #646464;
    text-align: center;
    margin: 0px 10px auto 10px;
  }
  .mobile-view .limit
  {
      justify-content: center;
      margin-top: 10px;
  }
  .mobile-view .km_select
  {
      margin-bottom: 10px;
  }
  .time_select{
      margin-left: 5%;
      font-family: Roboto;
      color:#646464;
  }